subset
preprocessed_subset
Archive.zip
autoencoder+kmean+tsne example.ipynb
videos.txt
__pycache__
generate_alteration
ANSYS_simulation/simulation_files
images
unique_image_supervised/vgg16_model.h5
unique_image_supervised/history
rapport/images/
data